# Dependencies
node_modules/
**/node_modules/

# Build outputs
dist/
**/dist/

# Logs
*.log
logs/

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Environment variables (Uncomment if you want to exclude local env)
# .env
